body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  font-family: sans-serif;
  display: flex;
  background-color: #fff;
  overflow: hidden;
}

body > div {
  width: 500px;
  height: 80%;
  margin: 20px;
}

body > div:nth-child(2) {
  margin: 20px;
}

pre {
  height: 100%;
  margin: 10px;
}

code {
  margin: 1;
}

textarea {
  flex: 1;
  height: 600px;
  width: 400px;
}
